@import '../Authorized/courses.media.css';

.container-schedule-buttons-courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 20px;
    max-width: 100%;
}

.filter-roll-subject-container {
    width: 78%;
    height: 100%;
    margin-right: 10px;
}

.add-lesson-btn-schedule {
    white-space: nowrap;
    flex-grow: 0;
    height: 40px;
    width: 200px;
}

.add-lesson-btn-schedule-compact {
    white-space: nowrap;
    flex-grow: 0;
    height: 40px;
    width: 40px;
}

.btn-menu-drop {
    white-space: nowrap;
    height: 40px;
    width: 40px;
}