.navBack {
    top: -60px;
    position: relative;
    width: 100vw;
    background-color: var(--grey-light);
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miniNav {
    display: flex;
    flex-direction: row;
    align-items: start;
    text-align: center;
    padding: 10px 0px;
    gap: 10px;
    width: 1160px;
    color: var(--grey);
}

.link {
    color: var(--grey);
}

.link:hover {
    opacity: 0.6;
    color: var(--grey);
}

.content {
    top: -30px;
    width: 1160px;
    position: relative;
}

.contactsContainer {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.hrContacts{
    width: 100%;
    border: 1px solid var(--grey-dark);
    margin-top: 20px;
    margin-bottom: 20px;
}
.heading-1{
    color: var(--black);
    text-align: left;
    padding-bottom: 30px;
}

.heading-4{
    color: var(--blue-dark);
    text-align: left;
    font-size: 18px;
}

.icon {
    width: 40px;
    height: 40px;
}

.phoneContainer{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(2, 80px);
    justify-content: space-between;
}

.addressItem{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-self: space-between;
    gap: 20px;
    padding: 30px 0px 10px 0px;
}

.gridItem {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-self: space-between;
    gap: 20px;
    padding: 5px 0px 5px 0px;
}

.contactText:hover{
    opacity: 0.7;
    text-decoration: underline;
    cursor: pointer;
}

.contactTitle:hover{
    opacity: 0.7;
}