.heading-1{
    color: var(--black);
    text-align: left;
    padding-bottom: 30px;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.heading-4{
    color: var(--black);
    text-align: left;
    font-size: 18px;
  }