.slider-points-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 10px 20px 10px;
    gap: 30px;
}

.slider-button {
    justify-content: center;
}


.points {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
/* .left-slider:hover, .right-slider:hover {
    cursor: pointer;
    opacity: 0.6;
} */