@import './main.media.css';

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 20px;
}

.content {
  /* top: -20px; */
  width: 1160px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.title-container{
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  height: 276px;
  width: 1160px;
  border-radius: 10px;
  background: var(--background-pink);
  background-color: var(--pink-pale);
  background-repeat: no-repeat;
  padding: 60px;
}

.heading-1{
  color: var(--blue-dark);
  text-align: left;
}

.heading-2{
  color: var(--blue-dark);
  text-align: left;
}

.button-text-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.button-start-study{
  width: 400px;
  height: 50px;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 600;
}

.grid-4{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  grid-column-gap: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.grid-4-second{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  grid-column-gap: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.study-type-card{
  display: flex;
  background: var(--background-green);
  background-color: var(--green-pale);
  border-radius: 10px;
  height: 78px;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
  text-align: center;
}

.title-2{
  color: var(--blue-dark);
  text-align: center;
  padding: 0px 0px 20px 0px;
  position: relative;
  margin-top: -15px;
}

.step-card{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 10px;
  align-items: center;
}

.step-text {
  color: var(--black);
  text-align: left;
  justify-content: center;
}

.subjects-container{
  background-color: var(--grey-light);
  /* padding-top: -30px; */
  width: 100%;
  height: 354px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.subject-card{
  background-color: var(--white);
  border-radius: 10px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: var(--box-shadow-black);
  padding: 10px 22px;
}

.subjects-cards{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 700px;
  flex-wrap: wrap;
  justify-content: center;
}

.about-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--grey-dark);
}

.order-lesson-block {
  background: var(--background-green-long);
  border-radius: 10px;
  height: 112px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 60px 20px 60px;
}

.order-lesson-button {
  width: 186px;
}