@import './lesson-card.media.css';

.lesson-card {
    background:  var(--white);
    border-radius: 10px;
    padding: 15px;
    width: 260px;
    height: 100%;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: var(--blue-dark);
    box-shadow: 0 1px 10px -5px;
}

.grey-text {
    color: var(--grey-dark) !important;
    filter: grayscale(100%);
}

/* .lesson-card:hover {
    background:  var(--white);
    box-shadow: 0 1px 9px var(--pink);
    color: var(--pink)
} */

.lesson-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.homework-date {
    font-size: 16px;
    margin-bottom: 0px;
}

.homework-time{
    font-size: 16px;
    margin-bottom: 10px;
}

.homework-notes{
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.icon-lesson-card-column {
    width: 28%;
    
}

.info-lesson-card-column {
    width: 72%;
}

.icon-lesson-card-column .icon {
    height: 79px;
    width: 79px;
}