.courses-page {
    position: relative;
    /* width: 1160px; */
    display: flex;
    margin-bottom: 50px;
    /* margin-top: -35px; */
}

.sections {
    margin-top: -20px;
    /* margin-left: auto; */
}

.courses-section {
    width: 900px;
}

.section-title {
    font-size: 1.5em;
    margin: 20px 0;
}

.section-title--green {
    background: var(--background-green-2);
    background-color: var(--green-pale);
    padding: 5px 40px;
    border-radius: 8px;
}

.section-title--pink {
    background: var(--background-pink-2);
    background-color: var(--pink-pale);
    padding: 5px 40px;
    border-radius: 8px;
}

.course-list {
    display: flex;
    gap: 25px 40px;
    flex-wrap: wrap;
    margin: 25px 0px 26px 40px;
}

.course-list-fullpage {
    display: flex;
    gap: 25px 40px;
    flex-wrap: wrap;
}

.search-and-filter-container {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 1160px;
    margin: -35px 0px 60px;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 860px;
}

.search-input {
    border-radius: 10px;
    padding: 15px 40px 15px 15px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

.search-icon{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.btn-filter{
    width: 260px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}