@media (max-width: 1024px) {
  .layout-user{
      padding-left: 50px !important;
    }
}

@media (max-width: 767px) {
  .layout-user{
    width: 122% !important;
    padding-left: 0px !important;
    margin-top: -30px !important;
  }
  
  .container {
    flex-direction: column !important;
  }

  .menu {
      width: 100% !important;
  }

  .user-content {  
      width: 100% !important;
  }
}