@import './userLayout-media.css';

.layout-user{
  position: relative;
  display: flex; 
  width: 100%;
  padding-left: 140px;
  margin-top: -40px;
  padding-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 60px;
}

.menu {
    width: 200px;
}

.user-content { 
    /* max-width: 860px; */
    width: 860px;
}