@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: Montserrat-Alternates;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-Alternates;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap') format('truetype');
  font-weignt: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-Alternates;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/*для шапки и кнопок*/
@font-face {
  font-family: Montserrat;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family:
    Montserrat,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  color: var(--black);
}


* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif !important;
}

span,
p,
h1,
h2,
h3 {
  white-space: pre-wrap;
}

h1,
h2,
h3 {
  margin: 0;
}

.text--white {
  color: var(--white);
}

.text--black {
  color: var(--black);
}

.text--blue {
  color: var(--blue-dark);
}

.text--error {
  color: var(--error);
}

.text-400 {
  font-weight: 400;
}

.text-500 {
  font-weight: 500;
}

.text-600 {
  font-weight: 600;
}

.text-700 {
  font-weight: 700;
}

.text--heading1 {
  font-size: 40px;
  line-height: 40px;
  white-space: normal;
  /* padding-bottom: 30px; */
}

.text--heading2 {
  font-size: 24px;
  line-height: 29.26px;
  /* padding-bottom: 20px; */
}

.text--heading3 {
  font-size: 20px;
  line-height: 24.38px;
  padding-bottom: 10px;
}

.text--heading4 {
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 10px;
}

.text--body-m {
  font-size: 20px;
  line-height: 24.38px;
}

.text--body-l {
  font-size: 18px;
}

.text--body-s {
  font-size: 16px;
  line-height: 19.5px;
}

.text--body-xs {
  font-size: 14px;
  line-height: 20px;
}

.text--regular-xs {
  font-size: 14px;
  line-height: 20px;
}

.text--caption {
  font-size: 12px;
  line-height: 16px;
}

.text--center {
  text-align: center;
}