/* @font-face {
  font-family: Plus Jakarta Sans;
  src: url('../assets/fonts/Jakarta/PlusJakartaSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Plus Jakarta Sans;
  src: url('../assets/fonts/Jakarta/PlusJakartaSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Plus Jakarta Sans;
  src: url('../assets/fonts/Jakarta/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Plus Jakarta Sans;
  src: url('../assets/fonts/Jakarta/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Plus Jakarta Sans;
  src: url('../assets/fonts/Jakarta/PlusJakartaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Plus Jakarta Sans;
  src: url('../assets/fonts/Jakarta/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family:
    Plus Jakarta Sans,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  color: var(--black);
} */

* {
  font-size: inherit;
}

span,
p,
h1,
h2,
h3 {
  white-space: pre-wrap;
}

h1,
h2,
h3 {
  margin: 0;
}

.text--white {
  color: var(--white);
}

.text--black {
  color: var(--black);
}

.text--error {
  color: var(--error);
}

.text-400 {
  font-weight: 400;
}

.text-500 {
  font-weight: 500;
}

.text-600 {
  font-weight: 600;
}

.text-700 {
  font-weight: 700;
}

.text--heading1 {
  font-size: 60px;
  line-height: 36px;
  white-space: normal;
  padding-bottom: 30px;
}

.text--heading2 {
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 20px;
}

.text--heading3 {
  font-size: 30px;
  line-height: 26px;
  padding-bottom: 20px;
}

.text--heading4 {
  font-size: 25px;
  line-height: 26px;
  padding-bottom: 10px;
}

.text--body-m {
  font-size: 20px;
  line-height: 26px;
}

.text--body-s {
  font-size: 16px;
  line-height: 24px;
}

.text--body-xs {
  font-size: 14px;
  line-height: 20px;
}

.text--regular-xs {
  font-size: 14px;
  line-height: 20px;
}

.text--caption {
  font-size: 12px;
  line-height: 16px;
}

.text--center {
  text-align: center;
}
