:root {
  --black: #000000;
  --blue-dark: rgba(3, 37, 77, 1);
  --pink: rgba(241, 120, 182, 1);
  --error: red;
  --white: rgba(255, 255, 255, 1);
  --pink-pale: rgb(255,242,249);
  --green-grass: rgba(155, 211, 98, 1);
  --green-pale: rgba(230, 255, 206, 1);
  --grey-light: rgba(245, 245, 245, 1);
  --grey-medium: rgba(0, 0, 0, 0.15);
  --grey: rgba(153, 153, 153, 1);
  --grey-dark: rgba(140, 140, 140, 1);

  --box-shadow-black: 1px 1px 5px rgba(0, 0, 0, 0.25);
  --box-shadow-pink: 1px 1px 5px var(--pink);
  --checkbox-shadow: 1px 1px 5px var(var(--grey));

  --background-pink: url("../assets/pictures/pink-background.png");
  --background-green: url("../assets/pictures/green-background.png");
  --input-width: 352px;
  --eye-password-area: 30px;
}
