@import './news.media.css';

.news-title{
    height: fit-content;
    margin: 0px 0px 10px 0px;
}

.news-card{
    display: grid;
    grid-template-columns: 582px 203px;
    gap: 25px;
    flex-direction: column;
    padding: 25px 25px 25px 25px;
    width: 860px;
    height: 218px;
    align-items: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow-black);
}

.news-card:hover{
    cursor: pointer;
    box-shadow: var(--box-shadow-pink);
}

.news-details{
    white-space: pre-wrap;
    height: 100px;
}

.news-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* border: 1px solid var(--green-grass); */
    width: 203px;
    height: 168px;
}

.news-img{
    height: 168px;
    /* width: 203px; */
    border-radius: 10px;
}