.calendar {
    position: relative;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--grey-medium);
    margin: 0px;
    padding: 10px;
    color: var(--grey-dark);
}

.calendar:focus, .calendar:hover {
    border-color: var(--pink);
    outline: none;
}
