
.input-white:enabled{
    padding: 13px 16px;
    border-radius: 9px;
    outline: none;
    border: 1px solid var(--border-color);
    line-height: 20px;
    background-color: #f6f5fb;
    transition: all 0.3s ease;
  } 

  .input-white:disabled{
    padding: 13px 16px;
    border-radius: 9px;
    outline: none;
    border: 1px solid var(--border-color);
    background-color: var(--white);
  }
