.navlink {
    display: flex;
    position: relative;
    color: var(--black);
    cursor: pointer;
}
  
.navlink:hover {
    color: var(--pink);
    cursor: pointer;
}
  
.navlinkActive {
    color: var(--pink);
}