.title {
    text-align: center;
}

.authForm {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.buttonsContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.loginButton{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    align-items: center;
}

.registryButton{
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 30px;
}

.registryContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.rememberLoginContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}