.mod-container {
    border-radius: 10px;
    padding-top: 150px;
}

.mod-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 560px;
    height: 173px;
    align-self: center;
    justify-content: center;
}

.mod-text{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    width: 400px;
    text-align: center;
}

.mod-footer{    
    display: flex;
    float: right;
    padding: 10px 20px 20px 20px;
    justify-content: flex-end;
    gap: 20px;
}

.mod-footer button{
    width: 210px;
    height: 40px;
}