@media (max-width: 1024px) {
    .logoBlock{
        margin-right: 10px;
    }

    .navbar {
        width: 930px !important;
    }
  }

  @media (max-width: 767px) {
    .logoBlock{
        margin-right: 10px;
    }

    .top {
        padding-top: 5px !important;
      }
  }