.main {
    z-index: 4;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    top: 0;
    position: fixed;
    overflow: auto;
}  

.top {
    z-index: 4;
    display: flex;
    width: 100vw;
    height: 80px;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: var(--grey-light);
  }

.pageContent {
    z-index: 3;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 100vw;
    padding: 130px 50px 0px 50px;
}

.navbar {
    display: flex;
    min-height: 30px;
    height: 40px;
    gap: 8px;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -50px;
}

.navlinkContainer {
  display: flex;
  background-color: var(--white);
  border-radius: 10px;
  padding: 5px 10px;
  width: 120px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 0px 10px var(--grey);
}

.navlinkContainer:hover {
  box-shadow: 0px 0px 10px var(--pink);
  color: var(--pink);
}

.navlinkContainerActive {
  box-shadow: 0px 0px 10px var(--pink);
}

.logoBlock{
    display: flex;
    float: left;
    position: relative;
}

.logoImg {
    position: relative;
    width: 300px;
    height: 80px;
}

.navLinksBlock {
    display: flex;
    float: right;
    gap: 20px;
    justify-content: space-between;
}

.btn.subjectsContainer {
  background-color: var(--white);
  color: var(--black);
  box-shadow: var(--box-shadow-grey);
  border-radius: 10px;
  width: 160px;
  height: 40px;
  border-color: var(--white);
  transition: all 0.3s ease;
  font-size: 20px;
}

.btn.subjectsContainer::selection {
  background-color: var(--white);
  color: var(--pink);
  box-shadow: var(--box-shadow-pink);
  border-color: var(--white);
}

.btn.userContainer {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  font-size: 20px;
}