.top {
    z-index: 4;
    padding: 20px 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
.navbar {
    display: flex;
    min-height: 40px;
    gap: 8px;
}

.navlinkContainer {
  display: flex;
  background-color: var(--white);
}

.navlink {
  display: flex;
  color: var(--black);
}

.navlink:hover {
  color: var(--pink);
}

.navlink:active {
  color: var(--pink);
}
  
.pageContent {
    z-index: 2;
    flex: 1;
}