.creation-form {
    width: 400px;
    margin-top: -40px;
}

.title {
    text-align: center;
    margin: 0px;
    padding-bottom: -20px;
}

.row-block{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 15px 0 10px 0;
    justify-content: space-between;
}

/*стиль для дочерних элементов */
.row-block > * {
    height: 40px;
}

.cancel-btn{
    width: 140px;
}

.lesson-input-label{
    padding: 20px 0px 10px 0px;
}

.lesson-input-field{
    margin-bottom: -10px !important;
    padding-bottom: -10px !important;
}

.lesson-input-label-1{
    padding: 5px 0px 10px 0px;
}