.select-container{
    margin: 0px 0px;
    border-radius: 10px;
    height: 40px;
}

.select-field{
    height: 40px !important;
    /* padding: -10px 0px; */
    border-radius: 10px !important;
    padding: 5px 13px;
    box-shadow: var(--box-inner-shadow-black);
    border: 1px solid var(--grey-medium);
    
}